@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 800;
  font-size: 60px;
}

h2 {
  font-weight: 800;
  font-size: 44px;

  color: #ffffff;
}

h3 {
  font-weight: 600;
  font-size: 39px;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav {
  flex-grow: 0.6;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;

  font-weight: 600;
  font-size: 24px;
  line-height: 33px;

  color: #777777;
}

header nav ul li {
  margin: 0 10px;
}

section#banner img {
  width: 100%;
}

section#home {
  text-align: center;
  gap: 2px;
}

section#home img {
  margin: 27px;
}

section#sales {
  background: #c2185b;
  padding: 61px;
}

section#sales h2 {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
}

section#sales .card {
  background-color: #ffffff;
}

section#sales .card p {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}

section#sales .card span {
  font-size: 16px;
}

section#sales .card .content {
  padding: 11px 11px 25px 11px;
}

section#detailed {
  display: flex;
  justify-content: center;
  gap: 15px;

  margin: 160px 0;
}

section#detailed button {
  width: 403px;
  height: 99px;
  background: #c2185b;

  color: #ffffff;
  font-weight: 600;
  font-size: 39px;

  border: none;
  margin-bottom: 50px;
}

section#detailed > div {
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #c2185b;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

footer img {
  margin-bottom: -15px;
}

footer p {
  max-width: 255px;
  color: #ffffff;
  margin: 0;
  font-size: 14px;
}

footer ul {
  list-style: none;
  color: #fff;
  font-size: 20px;
}

footer ul li.title {
  font-weight: bold;
  font-size: 20px;
}
